<!doctype html>
<html lang="en" ng-app="hap">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" type="text/css" media="screen" href="components/bootstrap/bootstrap.css">
  <link rel="stylesheet" type="text/css" media="screen" href="components/bootstrap/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" media="screen" href="components/dialogs/dialogs.css">
  <link rel="stylesheet" href="css/app.css"/>
  <script>
    var server = require("./server/server");
  </script>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">miniHAP</a>
      </div>
      <div ng-controller="NavCtrl" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{active: $location.path() == '/objects'}"><a href="#/objects">Жилье</a></li>
          <li ng-class="{active: $location.path() == '/tariffs' || $location.path() == '/tariffGroups'}" class="dropdown">
            <a href="" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Тарифы<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
              <li ng-class="{active: $location.path() == '/tariffs'}"><a tabindex="-1" href="#/tariffs">Тарифы</a></li>
              <li ng-class="{active: $location.path() == '/tariffGroups'}"><a tabindex="-1" href="#/tariffGroups">Группы тарифов</a></li>
            </ul>
          </li>
          <li ng-class="{active: $location.path() == '/charges'}"><a href="#/tariffGroups">Начисления</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="" ng-click="previousMonth()"><span class="glyphicon glyphicon-backward"></span></a></li>
          <li class="active" style="width: 140px; height: 50px; text-align: center;"><a style="width: 140px; height: 50px; display: block;" href='' ng-bind-template="{{current_month.date | russian_date}}"></a></li>
          <li><a href="" ng-click="nextMonth()"><span class="glyphicon glyphicon-forward"></span></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="container" ng-view>
  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="components/jquery/jquery.min.js"></script>
  <script src="components/bootstrap/bootstrap.min.js"></script>
  <script src="components/angular/angular.js"></script>
  <script src="components/angular-route/angular-route.js"></script>
  <script src="components/angular-resource/angular-resource.js"></script>
  <script src="components/angular-sanitize/angular-sanitize.js"></script>
  <script src="components/angular-ui-bootstrap/ui-bootstrap.min.js"></script>
  <script src="components/dialogs/dialogs.js"></script>
  <script src="components/checklist-model/checklist-model.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
