<h3 class="page-header">Внесение показаний</h3>

<p class="lead">Выберите дом для проведения перерасчета</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Адрес</th>
      <th>Описание</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="building in buildings">
      <td ng-show="is_last_month"><a href="#/reappraisals/selectperiod/{{building._id}}">Ул.{{building.street}} дом.{{building.number}}</a></td>
      <td ng-show="!is_last_month">Ул.{{building.street}} дом.{{building.number}}</td>
      <td>{{building.description}}</td>
    </tr>
  </tbody>
</table>
